body {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 20px;
  color: $default;
  line-height: 1.5;
  background-color: $bacfon;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


.section {
  padding-bottom: 110px;
}


.logo {
   display: flex;
   justify-content: space-between;
   margin-right: 515px;


  &:focus {
     outline: 2px solid $accent;
     border-radius: 3px;
  }


  &:hover {
     opacity: 0.8;
  }


  &:active {
     opacity: 0.3;
  }

 }

 @media (max-width: 576px) {
   .logo {
     margin-right: 150px;
     background-image: none;
     background-image: url("../image/sprite.svg#icon-logo_m");
     background-repeat: no-repeat;
    //  width: 350px;
     height: 50px;

   }
 }


  @media (max-width: $sm) {
    .logo__img {
     display: none;
     width: 0;
     height: 0;
    
    }
  }

 @media (max-width: $sm) {

   .logo {
     display: block;
      margin-right: 65px;
      background-image: url("../image/sprite.svg#icon-logo_m");
      background-repeat: no-repeat;
      width: 200px;
      height: 50px;
      
    }
 }

 
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }

}