$accent: #FF6838; 
$default: #363853;
$box: #31352B;
$decor: #C2C2C2;
$social:#31352B;
$fone: rgba(255, 122, 80, 0.1);
$circl: #fff;
$bacfon:#F9FAFF;
$soc:#ECECEC;

$s: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
        

%quicksand-300 {
  font-family: Rubik-Light, sans-serif;
  font-weight: 300;
}


%quicksand-400 {
  font-family: Rubik-Regular, sans-serif;
  font-weight: 400;
}


%quicksand-500 {
  font-family: Rubik-Medium, sans-serif;
  font-weight: 500;
}

   