$accent: #FF6838; 
$default: #363853;
$box: #31352B;
$decor: #C2C2C2;
$social:#31352B;

%quicksand-300 {
  font-family: Rubik-Light, sans-serif;
  font-weight: 300;
}


%quicksand-400 {
  font-family: Rubik-Regular, sans-serif;
  font-weight: 400;
}


%quicksand-500 {
  font-family: Rubik-Medium, sans-serif;
  font-weight: 500;
}