 @import 'vars';
 @import 'fonts';
 @import 'reset';
 @import 'global';

.header {
  padding: 60px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
 }


.menu {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  &__list {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      margin-right: 50px;
    }
  &__link--active,
  &__link {
    color: $box;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.1;
    transition: all 0.5s, ease-in-out 0.5s;
  }
  
  &__link--active:hover,
  &__link:hover {
    color: $accent;
  }
  &__link--active:focus,
  &__link:focus {
    outline: 2px solid $accent;
    border-radius: 3px;
  }


  &__item+.menu__item {
    padding-left: 45px;
  }


}



 .user-nav {

    display: flex;
    position: relative;


  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    width: 44px;
    height: 38px;
    transition: all 0.5s, ease-in-out 0.5s;
    border-radius: 3px;
    position: relative;
    color: $default;
    margin-right: 10px;
  }


  &__link:before {
      content: "";
      position: absolute;
      width: 44px;
      height: 44px;
      top: -4px;
      left: 1px;
      background-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-size: 22px;
      mask-position: center;
      background-color: $default;
  }


  &__link-search:before {
      -webkit-mask-image: url("../image/sprite.svg#icon-search");
  }


  &__link:hover:before {
      background-color: $circl;
  }
  

  &__link:hover {
      background-color: $accent;
  }
 
 
  &__link-cart:before {
     -webkit-mask-image: url("../image/sprite.svg#icon-cart");
  }


  &__link:focus {
      outline: 2px solid $accent;
      border-radius: 3px;
      background-color: $fone;
  }


  &__link:active {
      background-color: $fone;
      outline: none;
  }


  &__namb {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    left: 29px;
    top: 4px;
    background-color: $accent;
  }


  &__namb:hover {
 
    background-color: $circl;
    color: $accent;
 }

 } 


 .button {
   position: relative;
   background-color: $accent;
   border-radius: 5px;
   border: none;
   line-height: 1.3;
   color: #fff;
   transition: all 0.5s, ease-in-out 0.5s;

   &:focus {
     outline: 2px solid $accent;
     border-radius: 3px;
     background-color: $fone;
     color: $accent;
   }

   &:hover {
     outline: 2px solid $accent;
     border-radius: 3px;
     background-color: $circl;
     color: $accent;
   }

   &:active {
     outline: none;
     border-radius: 3px;
     background-color: $fone;
     color: $accent;
   }


   &.social--list {
     display: flex;
     justify-content: space-between;
     width: 155px;
     margin-right: 70px;
     padding-left: 0;

   }

 }


 .hero {
   
   background-repeat: no-repeat;
   background-position:  980px  0;
   background-size: 29%;
   height: 71vh;
  

   &__item {
     display: inline-block;
     max-width: 450px;
     padding-top: 158px;
   }


   &__title {
     font-weight: 500;
     font-size: 66px;
     line-height: 1.3;
   }


   &__title-text {
     color: $accent;
     font-weight: 500;
     font-size: 66px;
     line-height: 1.3;
     margin-bottom: 20px;
     display: block;
   }


   &__text {
     font-weight: 400;
     font-size: 20px;
     line-height: 1.5;
     margin-bottom: 20px;
   }


   &__botton-order {
     position: static;
     padding: 12px 35px 12px 35px;
     border-radius: 5px;
     border: none;
     font-weight: 400;
     font-size: 18px;
     line-height: 1.3;
     margin-right: 30px;
   }


   &__botton-order:focus {
     outline: 2px solid $accent;
     border-radius: 3px;
     background-color: $fone;
     color: $accent;
   }


   &__botton-order:hover {
     outline: 2px solid $accent;
     border-radius: 3px;
     background-color: $circl;
     color: $accent;
   }


   &__botton-order:active {
     outline: none;
     border-radius: 3px;
     background-color: $fone;
     color: $accent;
   }

   
   &__link {
     border-bottom: 1px solid $default;
     padding-top: 2px;
     transition: all 0.5s, ease-in-out 0.5s;
   }


   &__img img {
     display: inline;
     margin-right: 33px;
     background-color: $bacfon;
   }

 }


.title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;

}


.category {

  &__title {
    margin-bottom: 80px;
  }


  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 60px 60px 0;
  }


  &__menu-button {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    padding: 23px 27px 23px 89px;
    position: relative;
    color: $default;
    background-color: $circl;
  }


  &__menu-burger {
    margin-top: 10px;

  }


  &__menu-button:focus {
    background-color: $circl;
    color: $default;

  }


  &__menu-button:hover {
    background-color: $fone;
    color: $accent;
  }


  &__menu-button:active {
    background-color: $accent;
    color: $circl;
  
  }


  &__menu-button::before {
       content: "";
       position: absolute;
       width: 44px;
       height: 44px;
       top: 13px;
       left: 24px;
       mask-repeat: no-repeat;
       mask-size: contain;
       mask-position: center;
       background-color: $default;
       transition: all 0.5s, ease-in-out 0.5s;
  }


  &__menu-burger::before {
    -webkit-mask-image: url("../image/sprite.svg#icon-burger");
  }


  &__menu-pizza::before {
    -webkit-mask-image: url("../image/sprite.svg#icon-pizza");
  }


  &__menu-sandwich::before {
     -webkit-mask-image: url("../image/sprite.svg#icon-sandwich_1");
  }


  &__menu-asia::before {
      -webkit-mask-image: url("../image/sprite.svg#icon-asia");
  }


  &__menu-dish::before {
      -webkit-mask-image: url("../image/sprite.svg#icon-dish_1");
  }

 
  &__menu-button:hover:before {
    background-color: $accent;
  }


  &__menu-button:active:before {
    background-color: $circl;
  }


  &__product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 0 29px 0 0;
    margin-bottom: 60px;
  }


  &__product-item {
    max-width: 198px;
    padding-bottom: 20px;
  }
 

  &__link {
    display: block;
    margin: 0 auto;
    max-width: 155px;
    border: none;
    border-bottom: 1px solid $default;
    background-color: $bacfon;
    padding-top: 2px;
    transition: all 0.5s, ease-in-out 0.5s;
  }


}

.product__card {

    background-color: $circl;
    padding: 20px;


 &:hover {
    outline: 2px solid $accent;
    border-radius: 3px;
 }

  &-img {
      margin: 0 auto;
      margin-bottom: 10px;
  }


  &-button {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      display: block;
      margin: 0 auto;
      padding: 8px 16px;
  }


  &-price {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.4;
      text-align: center;
      margin-bottom: 9px;
  }


  &-text {
      width: 175px;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 8px;
      height: 40px;
  }

}

 .link:focus {
   outline: 2px solid $accent;
   border-radius: 3px;
   border-bottom: 2px solid transparent;
 }


.link:hover {
   outline: none;
   border-radius: 3px;
   border-bottom: 1px solid transparent;
   color: $accent;
}

.link:active {
   outline: none;
   border-radius: 3px;
   color: $default;
}




.footer {

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-right: 109px;
    padding-bottom: 80px;  
  }
  

  &__inner-info {
    margin-right: 16px;
  }


  &__input:focus {
    outline: 2px solid $accent;
    border-radius: 3px;
  }


  &__input {
    max-width: 184px;
    margin: 0 0 5px 0;
    padding: 10px 7px 9px 7px;
    border-radius: 5px;
    border: solid 1px $decor;
    color: $decor;
  }


  &__top-item {
    max-width: 224px;
    margin: 0;
  }


  &__logo .logo__img {
    margin-bottom: 28px;
  }


  &__top-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px 0 0;
  }


  &__top-general {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 3.2;
    color: $social;
    margin-bottom: 0;
  }
 

  &__button {
    padding: 13px 35px 13px 73px;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    transition: all 0.5s, ease-in-out 0.5s;
  }


  &__button::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 13px;
    left: 40px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-image: url("../image/sprite.svg#icon-frame");
    background-color: $circl;
    transition: all 0.5s, ease-in-out 0.5s;
  }


  &__button:focus::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-color: $accent;
    top: 13px;
    left: 40px;
  }


  &__button:hover::before {
    background-color: $accent;

  }


  &__form {
    margin-right: 0;
    max-width: 200px;
  }


  &__top-general {
    position: relative;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.7;
    
  }


  &__top-general::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 7px;
    left: -30px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $social;
    transition: all 0.5s, ease-in-out 0.5s;

  }
  

  &__top-email {
    margin-bottom: 15px;
  
  }


  &__top-adress::before {
    -webkit-mask-image: url("../image/sprite.svg#icon-location");
    
  }


  &__top-phone::before {
    -webkit-mask-image: url("../image/sprite.svg#icon-calling");
    
  }


  &__top-email::before {
    -webkit-mask-image: url("../image/sprite.svg#icon-message");
    
  }


  &__top-general:hover:before {
    background-color: $accent;

  }


  &__bottom--text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $social;
    padding: 20px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
  }


  &__top-link a {
       transition: all 0.5s, ease-in-out 0.5s;
       margin-bottom: 0px;
  }
 

  &__top-link a:focus {
    outline: 2px solid $accent;
    border-radius: 3px;
  }


  &__top-link a:hover {
      color: $accent;
  }


  &__top-general:focus {
   outline: 2px solid $accent;
   border-radius: 3px;
  }


  &__logo:focus {
   outline: 2px solid $accent;
   border-radius: 3px;
  }


  &__social-list {
    display: flex;
    justify-content: space-between;
  }


  &__social-link--fasebook {
      width: 39px;
      height: 39px;

  }
  

  &__social-link--twiter {
      width: 39px;
      height: 39px;
  }
  

  &__social-link--instagram {
      width: 39px;
      height: 39px;
  }
  

  &__social-link:focus {
     outline: 2px solid $accent;
     border-radius: 50%;
  
  }
  

  &__social-link--twiter:hover {
    filter: invert(68%) sepia(90%) saturate(4389%) hue-rotate(337deg) brightness(102%) contrast(101%);
  }


  &__social-link--fasebook:hover {
    fill: $accent;
    stroke: $accent;
    
  }


  &__social-link {
    position: absolute;
    width: 39px;
    height: 39px;
  }


  &__top-list {
      padding: 0;
  }
}


.about {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: $social;
  
}
 

.twitter {
  right: 580px;
  border-radius: 50%;
 
}


.instagram {
  right: 528px;
  border-radius: 50%;
}


.fasebook {
  right: 633px;
  border-radius: 50%;

}


.delivery {

  background-repeat: no-repeat;
  background-position: 470px 7px;
  // background-size: 29%;
  height: 71vh;



 &__content {
  // display: flex;
  // justify-content: flex-start;
  // flex-direction: column;
  // flex-direction: column;
  max-width: 460px;
  display: inline-block;
  transform: translateX(140%); 
  padding-top: 65px;

 }

 &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    display: block;
    
}


 &__title-inner {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 30px
 }


  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__menu {
    font-weight: 400;
    font-size: 24px;
    line-height: 2;
    padding-left: 65px;
    margin-bottom: 35px

  }
  

  &__button {
    padding: 13px 35px 11px 35px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }


  &__link {
    position: relative;

  }

  &__link:before {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0;
    left: -61px;
  }


  &__link-time:before {
    background-image: url("../image/sprite.svg#icon-time");
  } 

  &__link-delivery:before {
     background-image: url("../image/sprite.svg#icon-delivery");
  }


  &__link-resturent:before {
      background-image: url("../image/sprite.svg#icon-resturent");
  }
}





 @import 'media';