 @import 'vars';
 @import 'fonts';
 @import 'reset';
 @import 'global';

.header {
  padding: 60px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
 }

 .logo {
  display: flex;
  margin-right: 515px;
 &:focus {
    outline: 2px solid $accent;
    border-radius: 3px;
  }
 &:hover {
  opacity: 0.8;
 }
 &:active {
  opacity: 0.3;
 }
 }

 .sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }



.menu {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  &__list {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      margin-right: 50px;
    }
  &__link--active,
  &__link {
    color: $box;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.1;
    transition: all 0.5s, ease-in-out 0.5s;
  }
  
  &__link--active:hover,
  &__link:hover {
    color: $accent;
  }
  &__link--active:focus,
  &__link:focus {
    outline: 2px solid $accent;
    border-radius: 3px;
  }


  &__item+.menu__item {
    padding-left: 45px;
  }


}

 .user-nav {
  display: flex;
  position: relative;
  &__link + .user-nav__link {
    padding-left: 34px;
  }

  &__link--search {
    width: 44px;
    height: 38px;
    margin-right: 12px;
    border: 1px transparent;
    background-color: $bacfon;
    transition: all 0.5s, ease-in-out 0.5s;
  }
  &__link--cart {
    width: 44px;
    height: 38px;
    margin-right: 34px;
    border: 1px transparent;
    background-color: $bacfon;
    transition: all 0.5s, ease-in-out 0.5s;
  }


  &__link--search::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    left: 9px;
    top: 5px;
    background-repeat: no-repeat;
  
  }
  &__link--cart::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 23px;
    left: 63px;
    top: 7px;
    background-repeat: no-repeat;
  
     }

  &__link--search:focus,
  &__link--cart:focus {
    outline: 2px solid $accent;
    border-radius: 3px;
    background-color: $fone;
  }
  &__link--search:hover {
    background-color: $accent;
    background-image: url("/image/search_w.svg");
    background-repeat: no-repeat;
    border-radius: 3px;
    top: 50%;
    left: 50%;
  }
  &__link--cart:hover {
    background-color: $accent;
    background-image: url("/image/Cart_w.svg");
    background-repeat: no-repeat;
    border-radius: 3px;
    top: 50%;
    left: 50%;
  }

  &__link--search:active {
   background-color: $fone;
   background-image: url("/image/Search btn.svg");
   outline:none;
  }

  &__link--cart:active {
    background-color: $fone;
    background-image: url("/image/Cart icon.svg");
    outline: none;
  }

  &__link--search::before {
    background-image: url("/image/Search btn.svg");
  }
  &__link--search:hover::before {
     background-image: url("/image/Search btn.svg");
     display: none;
  }

  &__link--cart::before {
    background-image: url("/image/Cart icon.svg")
  }

  &__link--cart:hover::before {
    background-image: url("/image/Search btn.svg");
    display: none;
  }
  &__namb {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    left: 79px;
    top: 4px;
    background-color: $accent;
  }

 &__namb:hover {
   position: absolute;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   font-size: 10px;
   text-align: center;
   line-height: 14px;
   color: $accent;
   left: 79px;
   top: 4px;
   background-color: $circl;
 }

 }

 .button {
   position: relative;
   background-color: $accent;
   border-radius: 5px;
   border: none;
   line-height: 1.3;
   color: #fff;
   transition: all 0.5s, ease-in-out 0.5s;

   &:focus {
     outline: 2px solid $accent;
     border-radius: 3px;
     background-color: $fone;
     color: $accent;
   }

   &:hover {
     outline: 2px solid $accent;
     border-radius: 3px;
     background-color: $circl;
     color: $accent;
   }

   &:active {
     outline: none;
     border-radius: 3px;
     background-color: $fone;
     color: $accent;
   }


   &.social--list {
     display: flex;
     justify-content: space-between;
     width: 155px;
     margin-right: 70px;
     padding-left: 0;

   }

 }

 .hero {
   &__inner {
     display: flex;
     justify-content: space-between;
   }

   &__advertising {
     max-width: 450px;
     padding-top: 158px;
     margin-right: 10px;
   }

   &__title {
     font-weight: 500;
     font-size: 66px;
     line-height: 1.3;

   }

   &__title--text {
     color: $accent;
     font-weight: 500;
     font-size: 66px;
     line-height: 1.3;
     margin-bottom: 20px;
     display: block;
   }

   &__text {
     font-weight: 400;
     font-size: 20px;
     line-height: 1.5;
     margin-bottom: 20px;
   }


   &__botton--order {
     position: static;
     padding: 12px 35px 12px 35px;
     border-radius: 5px;
     border: none;
     font-weight: 400;
     font-size: 18px;
     line-height: 1.3;
     margin-right: 30px;
   }

   &__botton--order:focus {
     outline: 2px solid $accent;
     border-radius: 3px;
     background-color: $fone;
     color: $accent;
   }

   &__botton--order:hover {
     outline: 2px solid $accent;
     border-radius: 3px;
     background-color: $circl;
     color: $accent;
   }

   &__botton--order:active {
     outline: none;
     border-radius: 3px;
     background-color: $fone;
     color: $accent;
   }

   &__link {
     border-bottom: 1px solid $default;
     padding-top: 2px;
     transition: all 0.5s, ease-in-out 0.5s;
   }

   &__link:focus {
     outline: 2px solid $accent;
     border-radius: 3px;
     border-bottom: none;
   }

   &__link:hover {
     outline: none;
     border-radius: 3px;
     border-bottom: none;
     color: $accent;
   }

   &__link:active {
     outline: none;
     border-radius: 3px;
     border-bottom: none;
     color: $default;
   }

   &__img img {
     display: inline;
     margin-right: 33px;
     max-width: 560px;
     max-height: 660px;
     background-color: $bacfon;

   }

 }

.title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;

}

.category {
  &__title {
    margin-bottom: 80px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 90px 60px 0;
    
  }
  &__menu--burger,
  &__menu--pizza,
  &__menu--sandwich,
  &__menu--asia,
  &__menu--dish {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    padding: 23px 27px 23px 89px;
    position: relative;
    color: $default;
    background-color: $circl;
  }
  &__menu--burger {
    margin-top: 10px;

  }
  &__menu--burger:focus,
  &__menu--pizza:focus,
  &__menu--sandwich:focus,
  &__menu--asia:focus,
  &__menu--dish:focus {
    background-color: $circl;
    color: $default;

  }
  &__menu--burger:hover,
  &__menu--pizza:hover,
  &__menu--sandwich:hover,
  &__menu--asia:hover,
  &__menu--dish:hover {
    background-color: $fone;
    color: $accent;
  }
  &__menu--burger:active,
  &__menu--pizza:active,
  &__menu--sandwich:active,
  &__menu--asia:active,
  &__menu--dish:active {
    background-color: $accent;
    color: $circl;
  
  }
  &__menu--burger::before,
  &__menu--pizza::before,
  &__menu--sandwich::before,
  &__menu--asia::before,
  &__menu--dish::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    top: 13px;
    left: 24px;
  }
  &__menu--burger::before {
    background-image: url("/image/burger.svg");
    
  }
  &__menu--pizza::before {
      background-image: url("/image/pizza 1.svg"); 
  }
  &__menu--sandwich::before {
    background-image: url("/image/sandwich 1.svg");
  }
  &__menu--asia::before {
    background-image: url("/image/asia.svg");
  }
  &__menu--dish::before {
    background-image: url("/image/dish 1.svg");
  }
  &__product--list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 0 29px 0 0;
    margin-bottom: 60px;

  }
  &__product--item {
    display: flex;
    max-width: 198px;
    padding-bottom: 20px;

  }
  // &__product--box,
  // .product__card {
  //   background-color: $circl;
  //   padding: 20px;
  // }
  // &__product--box:hover,
  // .product__card:hover {
  //   outline: 2px solid $accent;
  //   border-radius: 3px;
  // }

  // &__price {
  //   display: block;
  // }
  // &__text,
  // .product__card--text {
  //   font-weight: 400;
  //   font-size: 15px;
  //   line-height: 1.3;
  //   text-align: center;
  //   margin-bottom: 8px;
  //   height: 40px;
  // } 
  // &__price,
  // .product__card--price {
  //   font-weight: 500;
  //   font-size: 15px;
  //   line-height: 1.4;
  //   text-align: center;
  //   margin-bottom: 9px;
  // }
  // &__button,
  // .product__card--button {
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 1.3;
  //   display: block;
  //   margin: 0 auto;
  //   padding: 8px 16px;
   
  // }
  // &__img,
  // .product__card--img {
  //   width: 140px;
  //   height: 140px;
  //   margin: 0 auto ;
  //   margin-bottom: 10px;
  // }

  &__link {
    display: block;
    margin: 0 auto;
    max-width: 133px;
    border-bottom: 1px solid $default;
    padding-top: 2px;
    transition: all 0.5s, ease-in-out 0.5s;
  }

}

.product__card {
    background-color: $circl;
    padding: 20px;
&:hover {
    outline: 2px solid $accent;
    border-radius: 3px;
}
  &--img {
      width: 140px;
      height: 140px;
      margin: 0 auto;
      margin-bottom: 10px;
  }
  &--button {
       font-weight: 400;
       font-size: 14px;
       line-height: 1.3;
       display: block;
       margin: 0 auto;
       padding: 8px 16px;
  }
  &--price {
     display: block;
     font-weight: 500;
     font-size: 15px;
     line-height: 1.4;
     text-align: center;
     margin-bottom: 9px;
   }
  &--text {
      font-weight: 400;
      font-size: 15px;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 8px;
      height: 40px;
    }
}

 .link:focus {
   outline: 2px solid $accent;
   border-radius: 3px;
   border-bottom: 2px solid transparent;
 }

 .link:hover {
   outline: none;
   border-radius: 3px;
   border-bottom: 1px solid transparent;
   color: $accent ;
 }

 .link:active {
   outline: none;
   border-radius: 3px;
   color: $default;
 }

.form__item input {
  max-width: 184px;
  margin: 0 0 12px 0;
  padding: 10px 0 9px 14px;
  border-radius: 5px;
  border: solid 1px $decor;
  color: $decor;
}


.form__item input:focus {
  outline: 2px solid $accent;
  border-radius: 3px;
}


.footer {

  &__top {
    display: flex;
    justify-content: space-between;
    margin-right: 109px;
    padding-bottom: 73px;
   
  }


  &__top--link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding: 0 29px 0 0;
    margin-bottom: 60px;
    
  }

  // &__top--item {
  //   max-width: 200px;
  //   margin: 0;
  // }

  &__logo {
    margin-right: 102px;
  }

  &__top--item {
    padding-left: 24px;
  }

  &__top--item .logo__img {
    margin-bottom: 6px;
  }

  &__top--adress,
  &__top--phone,
  &__top--email {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $social;
  }
 
  &__button::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("/image/Frame.svg");
    background-repeat: no-repeat;
    top: 13px;
    left: 40px;
  }
  &__button {
    padding: 13px 35px 13px 73px;
    font-weight: 500;
    font-size: 14px;
  }
  &__button:focus::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("/image/Group.svg");
    background-repeat: no-repeat;
    top: 13px;
    left: 40px;
  }

  &__form {
    margin-right: 0;
    max-width: 200px;
  }

  &__top--adress,
  &__top--phone,
  &__top--email {
    position: relative;
  }

  &__top--adress::before,
  &__top--phone::before,
  &__top--email::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: -30px;

  }

  &__top--adress::before {

    background-image: url("/image/Location.svg")
  }


  &__top--phone::before {
    background-image: url("/image/Calling.svg")
  }


  &__top--email::before {
    background-image: url("/image/Message.svg")
  }


  &__bottom--text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $social;
    padding: 20px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
  }

  &__top--link a:focus,
  &__top--adress:focus,
  &__top--phone:focus,
  &__top--email:focus {
   outline: 2px solid $accent;
   border-radius: 3px;
  }

  &__logo:focus {
   outline: 2px solid $accent;
   border-radius: 3px;
  }
  &__top--link a,
  &__top--adress,
  &__top--phone,
  &__top--email {
   transition: all 0.5s, ease-in-out 0.5s;
  }

  &__top--link a:hover,
  &__top--email:hover,
  &__top--adress:hover,
  &__top--phone:hover {
   color: $accent;
  }
}

.footer__top--list {
  padding: 0;
  .footer__top--link {
    margin-bottom: 13px;
   
  
  }

}


// .about {
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.3;
//   color: $social;
  
// }


.fasebook::before,
.twitter::before,
.instagram::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 39px;
  top: 0;
}

.fasebook,
.twitter,
.instagram {
  position: relative;
  width: 39px;
  height: 39px;
}


.fasebook::before {
  left: -70px;
  background-image: url("/image/facebook.svg")
}

.fasebook:focus::before,
.twitter:focus::before,
.instagram:focus::before {
  outline: 2px solid $accent;
  background-color: $fone;
  border-radius: 50%;
}
.fasebook:hover::before,
.twitter:hover::before,
.instagram:hover::before {
  background-color: $accent;
  border-radius: 50%;
  color: $circl;
}


.twitter::before {
  left: -19px;
  background-image: url("/image/twitter.svg")
}



.instagram::before {
  left: 33px;
  background-image: url("/image/instagram.svg")
}





// .social--item {
//   width: 39px;
//   height: 39px;
//   border-radius: 2px;
//   display: inline;
//   margin-right: 0;

// }










 @import 'media';