<section class="delivery" style="background-image: url('./image/delivery.png');">

  <div class="container">

    <div class="delivery__content">

      <h3 class="delivery__title-inner">
        <span class="sr-only">достака нашей продукции</span>
        <span class="delivery__title">Оставайтесь дома,</span>
        а мы позаботимся о еде
      </h3>

      <div class="delivery__text">

        <p>
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите
          скиидку!
        </p>

      </div>

      <ul class="delivery__menu">

        <li class="delivery__item">

          <a href="#" class="delivery__link 
            delivery__link-time">Быстрая доставка за 15 минут</a>
        </li>

        <li class="delivery__item">
          <a href="#" class="delivery__link delivery__link-delivery">Вежливые курьеры</a>
        </li>

        <li class="delivery__item">
          <a href="#" class="delivery__link delivery__link-resturent">
            Более 500 заведений</a>
        </li>

      </ul>
      <span class="sr-only">кнопка для перехода для дополнительной информации о нашей достаки</span>
      <button type="submit" class="button delivery__button">Подробнее</button>

    </div>

  </div>

</section>