<header class="header">

  <div class="container">

    <div class="header__inner">

      <nav class="menu">

        <a class="logo" href="#">
          <img class="logo__img" src="image/logo.svg" alt="логотип сайта" width="200" height="39">
        </a>

        <ul class="menu__list">

          <li class="menu__item">
            <a href="#" class="menu__link--active">Главная</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Блюда</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Контакты</a>
          </li>

        </ul>

        <div class="user-nav">
          <span class="sr-only">найти на сайте товар</span>
          <a class="user-nav__link-search user-nav__link" href="#">
          </a>
          <span class="sr-only">перейти на страницу корзины</span>

          <a class="user-nav__link-cart user-nav__link" href="#">
            <span class="sr-only">количество выбранных товаров в корзине</span>
            <span class="user-nav__namb">4</span>
          </a>

        </div>

      </nav>

    </div>

  </div>

</header>