<section class="section hero" style="background-image: url('./image/scooter guy_.png');">

  <div class="container">

    <div class="hero__item">
      <h1 class="sr-only">самая быстрая доставка еды</h1>
      <h2 class="hero__title">
        ДОСТАВКА
      </h2>
      <span class="hero__title-text">ЗА 15 МИНУТ</span>


      <div class="hero__text">
        <p>
          Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт
        </p>
      </div>

      <div class="hero__botton">
        <button class="button hero__botton-order" type="submit">Заказать</button>
        <a class="link hero__link" href="#">Подробнее</a>
      </div>

    </div>
  </div>
</section>