<section class="section mobile" style="background-image: url('./image/mob_img.png');">

  <div class="container">

    <h2 class="mobile-title">
      Скачайте мобильное приложение
    </h2>

    <div class="mobile-text">
      <p>
        Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном месте.
      </p>
    </div>

    <span class="sr-only">скачать мобильное приложение с помощью app store</span>
    <button type="submit" class="mobile__app-store mobile__button"></button>

    <span class="sr-only">скачать мобильное приложение с помощью google play</span>
    <button type="submit" class="mobile__google-play mobile__button"></button>


  </div>

</section>