<section class="section restaurants">

<div class="container">

  <h2 class="title restaurants__title">
    Лучшие рестораны
  </h2>

  <span class="sr-only">перечень лучших ресторанов</span>
  <ul class="restaurants-item">

    <li class="restaurants-list">
      <a href="#" class="restaurants-link">
        <img src="image/blase_pizza.jpg " alt="изображение товара" class="restaurants-link__img" width="370"
          height="300">
        <h3 class="restaurants-text">Blaze Pizza</h3>
        <div class="restaurants-box">
          <span class="restaurants-time">11:00 - 22:00</span>
          <button type="submit" class="button restaurants__button"></button>
        </div>
      </a>
    </li>

    <li class="restaurants-list">
      <a href="#" class="restaurants-link">
        <img src="image/pizza_runch.jpg" alt="изображение товара" class="restaurants-link__img" width="370"
          height="300">
        <h3 class="restaurants-text">Pizza Runcho</h3>
        <div class="restaurants-box">
          <span class="restaurants-time">12:00 - 21:00</span>
          <button type="submit" class="button restaurants__button"></button>
        </div>
      </a>
    </li>

    <li class="restaurants-list">
      <a href="#" class="restaurants-link">
        <img src="image/pizza_hut.jpg" alt="изображение товара" class="restaurants-link__img" width="370" height="300">
        <h3 class="restaurants-text">Pizza Hut</h3>
        <div class="restaurants-box">
          <span class="restaurants-time">11:00 - 22:00</span>
          <button type="submit" class="button restaurants__button"></button>
        </div>
      </a>
    </li>

    <li class="restaurants-list">
      <a href="#" class="restaurants-link">
        <img src="image/mcdonalds.jpg" alt="изображение товара" class="restaurants-link__img" width="370" height="300">
        <h3 class="restaurants-text">McDonald`s</h3>
        <div class="restaurants-box">
          <span class="restaurants-time">06:00 - 23:00</span>
          <button type="submit" class="button restaurants__button"></button>
        </div>
      </a>
    </li>

    <li class="restaurants-list">
      <a href="#" class="restaurants-link">
        <img src="image/kfc.jpg" alt="изображение товара" class="restaurants-link__img" width="370" height="300">
        <h3 class="restaurants-text">KFC</h3>
        <div class="restaurants-box">
          <span class="restaurants-time">06:00 - 23:30</span>
          <button type="submit" class="button restaurants__button"></button>
        </div>
      </a>
    </li>

    <li class="restaurants-list">
      <a href="#" class="restaurants-link">
        <img src="image/start_burgers.jpg" alt="изображение товара" class="restaurants-link__img" width="370"
          height="300">
        <h3 class="restaurants-text">Star Burgers</h3>
        <div class="restaurants-box">
          <span class="restaurants-time">09:00 - 21:00</span>
          <button type="submit" class="button restaurants__button"></button>
        </div>
      </a>
    </li>

  </ul>

</div>

</section>