<section class="section reviews">

  <div class="container">

    <div class="reviews__inner">

      <div class="reviews__item">
        <span class="sr-only">слайдер с озывом клиентов</span>
        <h2 class="reviews__title title">Отзывы клиентов</h2>
        <div class="reviews__content">
          <span class="sr-only">фотография клиента</span>
          <div class="reviews__img" style="background-image: url('./image/mask_group.png');" width="300px height="
            300px">
          </div>
          <div class="reviews__text">
            <p>
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </p>

            <blockquote class="reviews__blockquote">
              <p class="reviews__name">
                Дарья
              </p>
              <div class="reviews__quote">
                <p>
                  Ценитель вкусной еды
                </p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="reviews__item">
        <h2 class=reviewsr__title title">Отзывы клиентов</h2>
        <div class="reviews__content">
          <span class="sr-only">фотография клиента</span>
          <div class="reviews__img" style="background-image: url('./image/mask_group.png');">
          </div>
          <div class="reviews__text">
            <p>
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </p>

            <blockquote class="reviews__blockquote">
              <p class="reviews__name">
                Дарья
              </p>
              <div class="reviews__quote">
                <p>
                  Ценитель вкусной еды
                </p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="reviews__item">
        <h2 class="reviews__title title">Отзывы клиентов</h2>
        <div class="reviews__content">
          <span class="sr-only">фотография клиента</span>
          <div class="reviews__img" style="background-image: url('./image/mask_group.png');">
          </div>
          <div class="reviews__text">
            <p>
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </p>

            <blockquote class="reviews__blockquote">
              <p class="reviews__name">
                Дарья
              </p>
              <div class="reviews__quote">
                <p>
                  Ценитель вкусной еды
                </p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="reviews__item">
        <h2 class="reviews__title title">Отзывы клиентов</h2>
        <div class="reviews__content">
          <span class="sr-only">фотография клиента</span>
          <div class="reviews__img" style="background-image: url('./image/mask_group.png');">
          </div>
          <div class="reviews__text">
            <p class="reviews__text--reviews">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их
              доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
              однозначно
              рекомендую!
            </p>

            <blockquote class="reviews__blockquote">
              <p class="reviews__name">
                Дарья
              </p>
              <div class="reviews__quote">
                <p>
                  Ценитель вкусной еды
                </p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>